@{
    ViewData["Title"] = "About Contact Project";
}
<h1>@ViewData["Title"]</h1>

<p>This is a sample Asp .Net MVC Core project.</p>

<p>You can have a list of contacts</p>
<h4>With CRUD operation</h4>
<h4>Searching for a specific list of contacts</h4>
<h4>Try to begin a call,send text or email to someone or the selected group</h4>
<h4>Share something like a contact with someone or a group</h4>
<h4>The goal is to update the contact list real time with SignalR</h4>
<h4>Then add Asp.net Identity for login, logout and registration</h4>
<h4>in order to add authentication and authorization</h4>
<h4>At the end we can use User Role to separate Public Users and Admin User</h4>
<h4>And add Admin Area to the route for separting the controllers and pages for Admin Users and public Users</h4>

<h4>Then we can think about separating the project to smaller parts like ContactDataAccess project, ContactCommunication, Utility, MainContact project , etc...</h4>
<h4>After creating separated projects, try to upgrade it to micro service architecture and separate the project urls and connect them with external dependencies</h4>