@{
    ViewData["Title"] = "Home Page";
}
@if (!string.IsNullOrEmpty(ViewBag.Message))
{
    <div id="notificationMessage" style="color: red">
        @ViewBag.Message
    </div>
} 
@if (TempData["Message"] != null)
{
    <div id="notificationMessage" style="color: yellow">
        @TempData["Message"]
    </div>
}

<h3>Welcome to Contact Project</h3>
